.box{
	background-color: #3A4042;
	width: 520px;
	padding-top: 52px;
	padding-bottom: 44px;
	box-shadow: 6px 6px 0px;
	text-align: center;
}
.box .button{
	background-color:#F29966 ;
}
.box .title{
		margin-left: 33px;
}
.box .subtitle{
		margin-top: 18px;
		margin-left: 40px;
}